<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link href="./css/fontAwsome.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="./css/index.css" rel="stylesheet">
</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"
                                style="margin-top: auto; margin-bottom: auto; width: 100%;">
                                <img src="./img/index.jpg" class="rounded mx-auto d-block"
                                    alt="Sistema de Eventos ao Vivo">
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900"> <%=results.title%> </h1>
                                        <h6 class="muted mb-4"> <%=results.subtitle%> </h6>
                                    </div>
                                    <form class="user" action="./access" method="POST">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user" name="username"
                                                placeholder="Nome Completo">
                                        </div>
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user" name="email"
                                                aria-describedby="emailHelp" placeholder="E-mail">
                                        </div>
                                        <input type="submit" class="btn btn-primary btn-user btn-block"
                                            value="Acessar o Evento">
                                        <input type="hidden" name="eventId" value="<%=results.id%>">
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="#">Precisando de Ajuda?</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <script>
        function changeBackground(color) {
            document.body.style.background = color;
        }
        const jsonResults = '<%- JSON.stringify(results) %>';
        const results = JSON.parse(jsonResults)
        window.addEventListener("load", function () { changeBackground(results.backgroundColor) });
    </script>

</body>

</html>