<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administração</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.10.25/datatables.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="/css/admin.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/event.css">
</head>

<body>
    
    <%-include('./common/header.ejs')%>

        <div class="container-fluid">
            <div class="row justify-content-center">
                <%- include('./common/adminNav.ejs') %>
                    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

                        <!-- event it self -->
                        <div
                            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                            <h1 class="h2">
                                <%=userData.title%>
                            </h1>
                            <div class="btn-toolbar mb-2 mb-md-0">
                                <div class="btn-group me-2">
                                    <a href="/admin" class="btn btn-sm btn-outline-primary">Voltar</a>
                                </div>
                            </div>
                        </div>

                        <!-- selected event -->
                        <div class="container">
                            <div class="card mb-2">
                                <div class="card-header">
                                    <h5 class="card-title">Informações do Evento</h5>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <a href="#" id="pop"><img class="img-thumbnail m-2" src="./img/1.jpg" alt=""></a>
                                        </div>
                                        <div class="col-md-9">
                                            <form>
                                                <div class="mb-3">
                                                    <label for="eventTitle" class="form-label">Título</label>
                                                    <input type="text" class="form-control" id="eventTitle"
                                                        value="<%=userData.title%>">
                                                    <input type="hidden" value="<%=userData.id%>" name="eventId" id="eventId">    
                                                </div>
                                                <div class="mb-3">
                                                    <label for="eventTitle" class="form-label">Subtítulo</label>
                                                    <input type="text" class="form-control" id="eventSubtitle"
                                                        value="<%=userData.subtitle%>">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="accessLink" class="form-label">Link de Acesso</label>
                                                    <a href="/access?event=<%=userData.id%>" id="eventUrl" target="_blank"
                                                        class="form-control text-decoration-none"></a>
                                                </div>
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text">Data</span>
                                                    <input type="date" class="form-control" placeholder="Data"
                                                        value="<%=moment(userData.eventTerm).format('yyyy-MM-DD')%>"
                                                        aria-label="date" id="eventDate">
                                                    <span class="input-group-text">Horário</span>
                                                    <input type="time" class="form-control" placeholder="Hora"
                                                        value="<%=moment(userData.eventTerm).format('HH:mm')%>"
                                                        aria-label="hora" id="eventTime">
                                                    <span class="input-group-text">Período(min)</span>
                                                    <input type="number" class="form-control" placeholder="Perído (min)"
                                                        value="<%=userData.eventPeriod%>" aria-label="periodo"
                                                        id="eventPeriod">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-2">
                                <div class="card-header">
                                    <h5 class="card-title">Aparência</h5>
                                </div>
                                <div class="card body">
                                    <div class="row mx-1 mt-2 p-2">
                                        <div class="col-3">
                                            <input type="color" class="form-control form-control-color" id="headerColor"
                                                value="<%=userData.headerColor%>" title="Cor do Cabeçalho" onchange="ColorChange()" >
                                            <label for="headerColor">Cor do Cabeçalho</label>
                                        </div>
                                        <div class="col-3">
                                            <input type="color" class="form-control form-control-color" id="footerColor"
                                                value="<%=userData.footerColor%>" title="Cor do Rodapé" onchange="ColorChange()" >
                                            <label for="headerColor">Cor do Rodapé</label>
                                        </div>
                                        <div class="col-3">
                                            <input type="color" class="form-control form-control-color" id="fontColor"
                                                value="<%=userData.fontColor%>" title="Cor da Fonte" onchange="ColorChange()" >
                                            <label for="headerColor">Cor da Fonte</label>
                                        </div>
                                        <div class="col-3">
                                            <input type="color" class="form-control form-control-color" id="backgroundColor"
                                                value="<%=userData.backgroundColor%>" title="Cor do Fundo" onchange="ColorChange()" >
                                            <label for="headerColor">Cor do Fundo</label>
                                        </div>
                                    </div>
                                    <div class="card p-3 border-0">
                                        <label for="formFileSm" class="form-label">Logotipo</label>
                                        <input class="form-control form-control-sm" id="formFileSm" type="file">
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-2">
                                <div class="card-header">
                                    <h5 class="card-title">Configurações</h5>
                                </div>
                                <div class="card body">
                                    <div class="row mx-3">
                                        <div class="col-3">
                                            <div class="form-check form-switch mx-3 mt-2">
                                                <input class="form-check-input" type="checkbox" onchange="optionsChange()" id="activeChat"
                                                    <%=userData.activeChat=='1' ? 'checked' : '' %>>
                                                <label class="form-check-label" for="check1">Chat</label>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-check form-switch mx-3 mt-2">
                                                <input class="form-check-input" type="checkbox" onchange="optionsChange()" id="activePoll"
                                                    <%=userData.activePoll=='1' ? 'checked' : '' %>>
                                                <label class="form-check-label" for="check2">Enquete</label>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-check form-switch mx-3 mt-2">
                                                <input class="form-check-input" type="checkbox" onchange="optionsChange()" id="privateWebinar"
                                                    <%=userData.privateWebinar=='1' ? 'checked' : '' %>>
                                                <label class="form-check-label" for="check2">Evento Privado</label>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-check form-switch mx-3 mt-2">
                                                <input class="form-check-input" type="checkbox" onchange="optionsChange()" id="activeEvent"
                                                    <%=userData.activeEvent=='1' ? 'checked' : '' %>>
                                                <label class="form-check-label" for="check2">Evento Ativo</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="card p-3 border-0">
                                                <div class="form-floating">
                                                    <textarea class="form-control" style="height: 100px"
                                                        placeholder="Insira o Iframe do seu Vídeo"
                                                        id="floatingTextarea"><%=userData.iframe%></textarea>
                                                    <label for="floatingTextarea">Iframe do Vídeo</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-2">
                                <div class="card-header">
                                    <h5 class="card-title">Acessos</h5>
                                </div>
                                <div class="card-body">
                                    <table id="subscribers" class="display" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Nome</th>
                                                <th>E-mail</th>
                                                <th>Acesso</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for (let subscriber of subscribersData) { 
                                                let createdAt = moment(subscriber.createdAt).format('DD/MM/yyyy [às] HH[h]mm[m]ss')
                                            %>
                                            <tr>
                                                <td><%=subscriber.username%></td>
                                                <td><%=subscriber.email%></td>
                                                <td><%=createdAt%></td>
                                            </tr>
                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                    </main>
            </div>
        </div>
        <!-- modal to change image -->
        <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Alterar Imagem</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img class="img-thumbnail m-2" src="./img/<%=userData.loginImagePath%>" alt="">
                        <form id="changeImage" enctype="multipart/form-data" action="./event/changeImage" method="post" >
                            <input class="form-control" type="file" id="imageFile" name="imageFile">
                            <input type="hidden" value="<%=userData.id%>" name="eventId">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button type="submit" id="record" form="changeImage" class="btn btn-primary">Gravar</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.10.25/datatables.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
            integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
            crossorigin="anonymous"></script>
        
        <script src="/js/event.js"></script>
</body>
</html>