<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <div class="container">
      <%- include partials/header.ejs %>
      <h1 class="size1 margin-top"><%= title %></h1>
      <p>Bem vindo ao <%= title %></p>
      <hr class="color">
      <br>
      <h2 class="size2">Você sabe o que é um Webinar?</h2>
      <p class="justificar">Webinar é uma transmissão online que se assemelha a lives do instagram ou facebook. Muita vezes é usado como uma estratégia para atrair mais leads ou disponibilizar conteúdo exclusivo em forma de aula ou bate papo com autoridades de determinados assuntos. São inúmeras possibilidades.</p>
      <p><a href="https://pt.wix.com/blog/2020/04/webinar-o-que-e-como-fazer/?utm_source=google&utm_medium=cpc&utm_campaign=12444131516^116269031657&experiment_id=^b^501715408450^^_DSA&cq_src=google_ads&cq_cmp=12444131516&cq_con=116269031657&cq_term=&cq_med=&cq_plac=&cq_net=g&cq_pos=&cq_plt=gp&gclid=CjwKCAjwnPOEBhA0EiwA609ReehJ4hVaxa0Eq2D5r4REEK7J01wAeKZl90IaRJCH8-nePAyCLiJxCxoCH2sQAvD_BwE">Saiba mais.</a></p>
    </div>
    <%- include partials/footer.ejs %>
</body>
</html>
