<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo Usuário</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="/css/admin.css" rel="stylesheet">
    
</head>

<body>
    <%- include('./common/header.ejs')%>

        <div class="container-fluid">
            <div class="row justify-content-center">
                <%- include('./common/adminNav.ejs') %>
                    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                        <div class="container-fluid">
                            <div class="row">
                                <div
                                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                                    <h1 class="h2">
                                        <%=results.name%>
                                    </h1>
                                    <div class="btn-toolbar mb-2 mb-md-0">
                                        <div class="btn-group me-2">
                                            <a href="/inscritos" class="btn btn-sm btn-outline-primary">Voltar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <form action="/user/updateUser" method="POST">
                                        <div class="mb-3">
                                            <label for="username" class="form-label">Nome de Usuário</label>
                                            <input type="text" class="form-control" id="username" name="username"
                                                value="<%=results.username%>" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="name" class="form-label">Nome Completo</label>
                                            <input type="text" class="form-control" id="name" name="name"
                                                value="<%=results.name%>" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="email" class="form-label">E-mail</label>
                                            <input type="email" class="form-control" id="email" name="email"
                                                value="<%=results.email%>" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="password" class="form-label">Senha</label>
                                            <input type="password" class="form-control" id="password" name="password">
                                            <input type="hidden" name="userId" value="<%=results.id%>">
                                        </div>
                                        <div class="btn-group mb-3" role="group"
                                            aria-label="Basic checkbox toggle button group">
                                            <input type="checkbox" class="btn-check" id="active" name="active"
                                                autocomplete="off" <%=results.active=='1' ? 'checked' : '' %>>
                                            <label class="btn btn-outline-success" for="active">Ativo</label>

                                            <input type="checkbox" class="btn-check" id="admin" name="admin"
                                                autocomplete="off" <%=results.userType=='1' ? 'checked' : '' %>>
                                            <label class="btn btn-outline-primary" for="admin">Admin</label>
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <button type="submit" class="btn btn-outline-primary">Alterar</button>
                                            </div>
                                            <div class="col d-grid justify-content-end">
                                                <button type="button" onclick="deleteUser()"
                                                    class="btn btn-outline-danger align-self-end"
                                                    id="liveToastBtn">Excluir</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </main>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
            integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous">
            </script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
            function deleteUser() {
                Swal.fire({
                    icon: 'warning',
                    title: 'Excluir Usuário?',
                    text: 'Esta ação não poderá ser desfeita!',
                    confirmButtonText: `Excluir`,
                    denyButtonText: `Não Excluir`,

                }).then((result) => {
                    if (result.isConfirmed) {
                        //console.log("<%=results.id%>")
                        fetch('removeUser', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                                // 'Content-Type': 'application/x-www-form-urlencoded',
                            },
                            body: JSON.stringify({ userId: "<%=results.id%>" })
                        })
                    }
                })
            }
        </script>


</body>

</html>